@charset "UTF-8";

body{
    background-color: #EAC9E4;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #66395E;
}

#principal{
    background-color: #E681D3;
    color: #665863;
    text-align: center;
}

h2{
    color: #B364A5;
}

.basico{
    color: rgb(96, 182, 96);

}

.intermediario{
    color: rgb(170, 162, 87);

}

.avancado{
    color: rgb(182, 96, 96);

}