@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&display=swap');


@font-face { /* Importa uma fonte externa baixada para o computador*/
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{ /* Variável de raiz que permite o acesso de maneira mais rápida e simples no restante do código, configurações gerais*/ 
    --cor0:#c5ebd6;
    --cor1:#83E1AD;
    --cor2:#3DDC84;
    --cor3:#2FA866;
    --cor4:#1A5C37;
   --cor5: #063D1E;

   --fonte-padrão: Arial, Verdana, Helvetica, Sans-serif;
   --fonte-destaque: 'Bebas Neue', cursive;
   --fonte-android: 'Android', cursive; 
}

  
*{ /* Configuração Global*/
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #c5ebd6;
    font-family: var(--fonte-padrão);
}

a.externo::after{
    content: '\00A0\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header>h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.404);
}
header>p{
    font-family: var(--fonte-padrão);
    color: white;
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.404);
    
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.322);
}

nav>a{
    color: var(--cor1);
    padding: 10px;
    border-radius: 1px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .3s;
}
nav>a:hover{
    background-color: var(--cor3);
    color: var(--cor5);

}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main img{
    width: 100%; /* Para definir a imagem com acessibilidade definida na html, essa configuração deixa a imagem ajustável até poder ser trocada*/
}

main img.pequena{ /* Classe criada para manter uma imagem pequena, pequena independetemente do tamanho da tela*/
    max-width: 350px;
    display: block; /* transforma a imagem em um bloco e permite que ela use a configuração abaixo*/
    margin: auto;
}

main h1{
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-weight: normal;
    font-size: 1.8em;
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-weight: normal;
    font-size: 1.2em;
    background-image: linear-gradient(to right, var(--cor0), transparent);
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main strong{
    color: var(--cor4);
    font-weight: bold;
}
main a{
    background: var(--cor2);
    text-decoration: none;
    font-weight: bold;
    padding: 2px 6px;
    color: var(--cor5);
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px 0px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video>iframe{
    position: absolute;
    top: 5%;
    bottom: 5%;
    width: 90%;
    height: 90%;


}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius:  10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.171);
}
aside>h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside>ul{
    list-style-type: '\2705\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}


footer{
    background-color:var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 3px;
}

footer a{
    color: white;
}